<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/navigation.ejs') %>
        <div class="container p-4">
            <div class="text-center">
                <h2>Crear nodo hijo</h2>
                <p class="lead">Acá podrás crear los dialogos hijos.</p>
            </div>
            <form method="POST" action="/createSon" class="card card-body">
                <div class="form-group">
                    <label for="title">Mensaje para mostrar</label>
                    <input class="form-control" type="text" name="message" id="message"
                        value="Favor seleccionar la opcion que deseas acceder" outfocus required>
                </div>
                <div class="form-group">
                    <label for="title">Opcion</label>
                    <input class="form-control" type="text" name="opcion" id="opcion"
                        placeholder="Ingresa el texto del dialogo" outfocus required>
                </div>
                <div class="form-group valor">
                    <label for="title">End</label>
                    <select class="form-control labelData" name="respond">
                        <option value=0>No</option>
                        <option value=1>Si</option>
                    </select>
                </div>
                <div class="form-group resultado">
                    <label for="title">Resultado</label>
                    <input class="form-control" type="text" name="result" id="result" placeholder="Escriba el resultado"
                        outfocus>
                </div>
                <input type="submit" value="Crear dialogo" class="btn btn-primary ">
            </form>
        </div>
</body>
<script type="text/javascript">
    var dataValue = $(".labelData").val();
    console.log("dataValue");
    if (dataValue == 0) {
        $('.resultado').hide();
    }
    $(".valor").change(function () {
        dataValue = $(".labelData").val();
        if (dataValue == 0) {
            $('.resultado').hide();
            $("#result").prop('required', false);
        } else {
            $('.resultado').show();
            $("#result").prop('required', true);
        }
        // alert("hola");
    });
</script>

</html>