<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/navigation.ejs') %>
    <div class="text-center">
        <h2>Edición</h2>
        <p class="lead">Acá podrás editar los dialogos.</p>
    </div>
    <div class="container p-4">
        <form method="POST" action="/editar" class="card card-body">
            <div class="form-group">
                <label for="title">Mensaje para mostrar</label>
                <input class="form-control" type="text" name="message" id="message" value="<%= result[0].message %>" outfocus required>
            </div>
            <div class="form-group mt-3">
                <label for="title">Opción</label>
                <input class="form-control" type="text" name="opcion" id="opcion" placeholder="Ingresa el texto del dialogo" value="<%= result[0].opcion %>" outfocus required>
            </div>
            <div class="form-group valor mt-3">
                <label for="title">End</label>
                <select class="form-control labelData" name="respond">
                    <% if (result[0].respond == 0) { %>
                    <option value=0>No</option>
                    <option value=1>Si</option>
                    <% } %>
                    <% if (result[0].respond == 1) { %>
                        <option value=1>Si</option>
                        <option value=0>No</option>
                        <% } %>
                </select>
            </div>
            <div class="form-group resultado mt-3">
                <label for="title">Resultado</label>
                <input class="form-control" type="text" name="result" id="result" value="<%= result[0].result %>" placeholder="Escriba el resultado" outfocus>
            </div>
            <input style="width: 200px;" type="submit" value="Editar dialogo" class="btn btn-primary mt-3">
        </form>
    </div>
</body>
<script type="text/javascript">
    var dataValue = $(".labelData").val();
    if (dataValue == 0) {
        $('.resultado').hide();
    }
    $(".valor").change(function () {
        dataValue = $(".labelData").val();
        if (dataValue == 0) {
            $('.resultado').hide();
            $("#result").prop('required', false);
        } else {
            $('.resultado').show();
            $("#result").prop('required', true);
        }
        // alert("hola");
    });
</script>

</html>
