<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/navigation.ejs') %>
    <div class="container p-4">
        <form method="POST" action="/new-entry" class="card card-body">
            <div class="form-group">
                <label for="title">Mensaje para mostrar</label>
                <input class="form-control" type="text" name="message" id="message"
                    value="Favor seleccionar la opción a la cual deseas acceder" outfocus required>
            </div>
            <div class="form-group mt-3">
                <label for="title">Opción</label>
                <input class="form-control" type="text" name="opcion" id="opcion" placeholder="Ingresa el texto del dialogo" outfocus required>
            </div>
            <div class="form-group valor mt-3">
                <label for="title">End</label>
                <select class="form-control labelData" name="respond">
                    <option value=0>No</option>
                    <option value=1>Si</option>
                </select>
            </div>
            <div class="form-group resultado">
                <label for="title">Resultado</label>
                <input class="form-control" type="text" name="result" id="result" placeholder="Escriba el resultado" outfocus>
            </div>
            <input style="width: 200px;" type="submit" value="Crear nuevo proceso" class="btn btn-primary mt-3 text-center">
        </form>
    </div>
</body>
<script type="text/javascript">
    var dataValue = $(".labelData").val();
    console.log("dataValue");
    if (dataValue == 0) {
        $('.resultado').hide();
    }
    $(".valor").change(function () {
        dataValue = $(".labelData").val();
        if (dataValue == 0) {
            $('.resultado').hide();
            $("#result").prop('required', false);
        } else {
            $('.resultado').show();
            $("#result").prop('required', true);
        }
    });
</script>

</html>
