<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <title>Ver hijos</title>

        <style>
            .btn-primary {
                background-color: #00569d;
            }

            .nav-pills .nav-link.active,
            .nav-pills .show>.nav-link {
                color: #fff;
                background-color: #00569d;
            }

            .card {
                background-clip: border-box;
                border: 1px solid #ffffff;
                border-radius: 4px;
            }

            .card-header {
                padding: 0rem 0rem;
                margin-bottom: 0;
                background-color: #ffffff;
                border-bottom: 1px solid rgba(0, 0, 0, .125);
            }

            .card__header-title {
                font-size: 1.2rem;
                font-weight: 500;
                color: #48465b;
            }
        </style>

</head>

<body style="background-color: #f2f3f8;">
    <%- include('partials/navigation.ejs') %>
        <div class="text-center">
            <h2>
                <%= nombreDelPadre %>
            </h2>
            <p class="lead">Acá podrás crear dialogos del bot.</p>
        </div>
        <div class="container p-4">
            <div class="row">
                <% result.forEach(function(book) { %>
                    <div class="col-md-4 p-3 ">
                        <div class="card">
                            <div class="card-header card__header-title text-center">
                                <p style="margin-top: 1rem;" class="center">
                                    Opcion # <%= book.numero %>
                                </p>
                            </div>
                            <div style="overflow:auto; height:15vh;" class="card-body text-center">

                                <p>
                                    <%= book.opcion %>
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a style="width: 117px;" href="/delete/<%= book.id %> "
                                    class="btn btn-primary">Delate</a>
                                <a style="width: 117px;" href="/edit/<%= book.id %> " class="btn btn-primary">Edit</a>
                                <a style="width: 117px;" href="/viewSon/<%= book.id %> " class="btn btn-primary">Ver
                                    hijos</a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                        <div style="width: 990px;" class="container p-3 text-center">
                            <a style="width: 800px;" href="/createSon" class="btn btn-primary">Crear dialogo</a>
                        </div>

            </div>
        </div>


</body>
<script type="text/javascript">
    console.log("<%= result %>");
    var dataValue = $(".labelData").val();
    if (dataValue == 0) {
        $('.resultado').hide();
    }
    $(".valor").change(function () {
        dataValue = $(".labelData").val();
        if (dataValue == 0) {
            $('.resultado').hide();
            $("#result").prop('required', false);
        } else {
            $('.resultado').show();
            $("#result").prop('required', true);
        }
        // alert("hola");
    });
</script>

</html>