        <meta charset="utf-8">

        <title>Kactus Smart People | bot</title>
        <meta name="description" content="text">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!--begin::Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
        <!--end::Fonts -->

        <!--begin::Page Vendors Styles(used by this page) -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <script src="./assets/js/jquery-3.6.0.min.js"></script>
        <!--end::Page Vendors Styles -->

        <!--begin::Global Theme Styles(used by all pages) -->

        <!--end::Global Theme Styles -->

        <!--begin::Layout Skins(used by all pages Digital Ware) -->

        <!--end::Layout Skins Digital Warel -->

        <link rel="shortcut icon" href="/favicon.ico">
