<div class="container-fluid" style="padding-right:0px; padding-left:0px;">
    <header style="background-color: white;" class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="/assets/img/logo-kactus-hcm-estandar.svg" style="width: 140px; height: auto; margin-left: 16px;" alt="">
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Inicio</a></li>
            <li class="nav-item"><a href="/new-entry" class="nav-link">Crear nuevo proceso</a></li>
        </ul>
    </header>
</div>
<div class="container">
    <div class="py-3 text-center">
        <img class="d-block mx-auto mb-4" src="/assets/img/bob.png" alt="" width="mx-auto" height="mx-auto">
    </div>
</div>
